// Settings
@import "foundation-settings";

// Foundation
@import "~foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything(true);

.contain {
  width: rem-calc(1200);
  margin: 0 auto;
}

@import "~@fancyapps/fancybox/dist/jquery.fancybox";
@import "~toastr/toastr";
@import "./modules/partymeister-rating";
@import "~flag-icon-css/sass/flag-icon";


// Partymeister Core
.vertical.menu li a i, .vertical.menu li a svg {
  min-width: 25px;
}